# 1. Backend 앱 배포
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: junseok
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          # [핵심 변경] Docker Hub 대신 GHCR 주소 사용 (모두 소문자여야 함!)
          image: ghcr.io/junseok6523/gangwon-junseok-backend:latest
          imagePullPolicy: Always  # 배포할 때마다 새로운 이미지를 강제로 받아옴
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret

---
# 2. Backend 서비스 (외부 공개용)
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: junseok
spec:
  selector:
    app: backend
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000